{%- comment -%} Renders the list of social media links set in theme settings. {%- endcomment -%}
{%- liquid
  assign has_social = false
  if settings.social_instagram != blank or settings.social_facebook != blank or settings.social_pinterest != blank or settings.social_twitter != blank or settings.social_youtube != blank
    assign has_social = true
  endif
-%}
{%- if has_social -%}
  <ul class="social-list">
    {%- if settings.social_instagram != blank -%}
      <li><a href="{{ settings.social_instagram }}" target="_blank" rel="noopener" aria-label="Instagram">{% render 'icon', icon: 'instagram' %}</a></li>
    {%- endif -%}
    {%- if settings.social_facebook != blank -%}
      <li><a href="{{ settings.social_facebook }}" target="_blank" rel="noopener" aria-label="Facebook">{% render 'icon', icon: 'facebook' %}</a></li>
    {%- endif -%}
    {%- if settings.social_pinterest != blank -%}
      <li><a href="{{ settings.social_pinterest }}" target="_blank" rel="noopener" aria-label="Pinterest">{% render 'icon', icon: 'pinterest' %}</a></li>
    {%- endif -%}
    {%- if settings.social_twitter != blank -%}
      <li><a href="{{ settings.social_twitter }}" target="_blank" rel="noopener" aria-label="Twitter">{% render 'icon', icon: 'twitter' %}</a></li>
    {%- endif -%}
    {%- if settings.social_youtube != blank -%}
      <li><a href="{{ settings.social_youtube }}" target="_blank" rel="noopener" aria-label="YouTube">{% render 'icon', icon: 'youtube' %}</a></li>
    {%- endif -%}
  </ul>
{%- endif -%}
